<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사전 추가</title>
    <link rel="icon" href="http://mail.seoultech.ac.kr/mail/img/favicon.png">
    <link rel="stylesheet" href="/css/index.css"> 
    <script src="https://kit.fontawesome.com/c71231073e.js" crossorigin="anonymous"></script>
</head>

<style>

</style>

<body>
    <a href="/all-list">
        <button class="btn-back"><<< 사전 목록</button>
    </a>
    <form class="container" method="post" action="./save">
        <h1>
            새 사전 추가
        </h1>
        <!-- <div class="form-group">
            <button type="button" id="translate" class="btn btn-primary">Vietnamese <=> English</button>
        </div> -->
        <div class="form-group">
            <input type="hidden" name="type" value="1">
            <input type="text" name="text1" class="form-control" style="height: 34px" placeholder="한국어">
            <i class="fa-solid fa-arrows-left-right"></i>
            <input type="text" name="text2" class="form-control" style="height: 34px" placeholder="외국어">
        </div>
        <div class="form-group">
            <select class="form-control" name="language" id="" style="width: 92%">
                {{#each languages}}
                    <option value="{{this._id}}&{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <textarea type="text" id="" name="description" class="form-control" placeholder="언어 설명" style="width:92%"></textarea>
        </div>
        <div class="form-group">
            <button id="translate" class="btn btn-primary">사전에 추가</button>
        </div>
    </form>
  
</body>
</html>